{% extends 'base.html' %}
{% block content %}
    <div class="box-body">
      <div style="float: left;">
          <a href="/x"><button style="width: 190px; height: 40px;" type="button" class="btn btn-primary">Histórico de Caronas</button></a>
          <a href="/x"><button style="width: 190px; height: 40px;" type="button" class="btn btn-primary">Caronas Ofertadas</button></a>
          <a href="/carona"><button style="width: 190px; height: 40px;" type="button" class="btn btn-primary">Disponibilizar carona</button></a>
        </div>
    </div>

{% endblock %}
